.footer_bar{
    width: 1400px;
  border: 15px solid #10e1e1;
  padding: 100px;
  margin: 20px;
  background: rgb(3, 132, 184);
  color:white;
  font-size: larger;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;

}
.footer_bar_contact{
    padding-right:300px;
}
.footer_bar_about{
    padding-right: 300px;
}
p{
    padding:10px;
}
@media only screen and (max-width: 1000px){
    .footer_bar{
        width: 100vw;
      border: 15px solid #10e1e1;
      padding: 100px;
      margin: 20px;
      background: rgb(3, 132, 184);
      color:white;
      font-size: medium;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    
    }
    .footer_bar_contact{
        padding-right:10px;
        font-size: small;
    }
    .footer_bar_about{
        padding-right: 10px;
        font-size: small;
    }
    p{
        padding:5px;
        font-size: small;
    }

}
